#link_hatchlings{
    font-size: 22px !important;
    margin-left: 3px;
    margin-right: 3px;
}
#info{
    text-align: center;
    margin-bottom: 3%;
}
.breeder-card{
    margin-bottom: 4%;
}
.dragons-for-sale-redirect{
    color: white;
}