/* Social media */
.social-media-div{
    display: flex;
}
.outer-media-div{
    width: 20%;
    margin-bottom: 1%;
}
.div-media-img{
    display: flex;
    justify-content: space-around;
}
.media-img{
    width: 20%;
}
.media-img:hover{
    transition: 2s;
    filter: invert(100%);
}
.socials-div{
    border-bottom: 2px solid white;
    display: flex;
    flex-wrap: wrap;
}
.copyright{
    text-align: center;
}
.footer-div{
    position: relative;
    bottom: 0;
    margin-top: 10%;
}